.my-custom-menu {
  --width: 500px;
}

.map {
  height: 100%;
}

.driver-info {
  background: transparent;
  position: absolute;
  bottom: 2px;
  width: 100%;
}

a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
  display: none !important;
}

.gm-bundled-control .gmnoprint {
  display: block;
}

.gmnoprint:not(.gm-bundled-control) {
  display: none;
}

.call-driver {
  float: right;
}

.card-content-ios,
.card-content-md {
  padding: 0 15px 15px 0px;
}

.rating-text {
  position: relative;
  font-size: 12px;
  bottom: 4px;
  left: 4px;
}

table {
  width: 100%;
  font-size: 12px;
  color: #4c4c4c;
  text-align: center;
  margin: 10px 10px 0 10px;
}
