.login-background {
	background: white;
	height: 100%;
	width: 100%;
	position: fixed;
}

.or {
	display: inline;
	padding: 0 10px;
}

.sc-ion-card-md-h {
	background: white;
}

.card-wrap {
	margin: 15% 0;
	overflow: auto;
	height: 65vh;
}

.button-wrap {
	margin: 10% auto 5%;
	width: 100%;
	text-align: center;
}

.fa-taxi {
	font-size: 50px;
	text-align: center;
	width: 100%;
	margin: 10px 0;
	color: white;
}

.label {
	font-size: 25px;
	text-align: center;
	display: block;
}