<div class="register-wrap">
	<div class="register-text">
		Register
	</div>
	<ion-card>
		<ion-card-content>
			<ion-item>
				<ion-label position="floating">User Name</ion-label>
				<ion-input></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating">Email</ion-label>
				<ion-input></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating">Password</ion-label>
				<ion-input type="password"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating">Re-enter Password</ion-label>
				<ion-input type="password"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating">Phone Number</ion-label>
				<ion-input type="number"></ion-input>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<div class="register-button">
		<ion-button color="warning" (click)="register()">Register</ion-button>
		<div class="navigate-back" (click)="navigate()">
			<ion-fab-button size="small" color="light">
				<ion-icon name="arrow-round-back"></ion-icon>
			</ion-fab-button>
		</div>
	</div>
</div>