.register-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #e0e0de;
  
}

.register-text {
  font-size: 35px;
  color: white;
  background: #ff5252;
  height: 16%;
  text-align: center;
  vertical-align: middle;
  padding: 8%;
}

.sc-ion-card-md-h,
.sc-ion-card-ios-h {
  background: white;
}

.register-button {
  margin: 10px 15px;
  position: relative;
}

.navigate-back {
  display: inline-block;
  float: right;
  position: relative;
  bottom: 5px;
}

.pwd-wrap {
  margin-bottom: 45px;
}
